[submodule "moodle/mod/customcert"]
	path = moodle/mod/customcert
	url = https://github.com/markn86/moodle-mod_customcert.git
	branch = MOODLE_38_STABLE
[submodule "moodle/local/mailtest"]
	path = moodle/local/mailtest
	url = https://github.com/michael-milette/moodle-local_mailtest.git
	branch = master
[submodule "moodle/theme/moove"]
	path = moodle/theme/moove
	url = https://github.com/willianmano/moodle-theme_moove.git
	branch = master
[submodule "moodle/theme/adaptable"]
	path = moodle/theme/adaptable
	url = https://gitlab.com/jezhops/moodle-theme_adaptable.git
	branch = master
